<!DOCTYPE html>
<html>
  <head>
    <title>Basebuild</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BaseBuild</h1>
    <p>Welcome to Basebuild</p>
  </body>
</html>
